<div class="users-list-wrapper">
  <h2>Users</h2>
  
  <ums-users-search (search)="onSearch($event)"></ums-users-search>

  <mat-list role="list">
    <ums-users-list-item *ngFor="let user of users$ | async | filter:searchText:searchCriteria" [user]="user">
    </ums-users-list-item>
  </mat-list>

  <mat-paginator 
    [pageIndex]="pageIndex" 
    [pageSize]="usersPerPage$ | async" 
    [length]="totalUsers$ | async" 
    (page)="onPagination($event)">
  </mat-paginator>
  
  <button mat-raised-button color="primary" routerLink="/user/add">Add User</button>
</div>
