@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
  height: 100%; 
}

body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

h2 {
  border-bottom: 1px solid hsl(229, 78%, 57%);
  text-align: center;
  padding-bottom: 1em;
}

.full-width {
  width: 100%;
}